.App {
  text-align: center;
}

.smurfs-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.smurf-card {
  border: 1px solid blue;
  margin: 1rem;
  padding: 1rem;
}

.smurf-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.input {
  margin: .5rem;
}